{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        {% for i in students %}
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
            <div class="card" style="width: 18rem;">
                <img src="https://thumbs.dreamstime.com/b/businessman-icon-vector-male-avatar-profile-image-profile-businessman-icon-vector-male-avatar-profile-image-182095609.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><center>{{i[1]}}</center></h5>
                  <p class="card-text">Admission Number : {{i[2]}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">College : {{i[3]}}</li>
                  <li class="list-group-item">Branch : {{i[4]}}</li>
                  <li class="list-group-item">Date Of Birth : {{i[5]}}</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}